{% extends "linkedinapp/base.html" %}
{% load static %}

{% block title %}Jobs - LinkedIn Clone{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mb-3">Job Listings</h4>
        <ul class="list-group">
            <li class="list-group-item">Software Engineer at XYZ Company</li>
            <li class="list-group-item">Product Manager at ABC Corporation</li>
            <li class="list-group-item">Data Scientist at Tech Solutions</li>
        </ul>
    </div>
{% endblock %}