{% extends "linkedinapp/base.html" %}
{% load static %}

{% block title %}Notifications - LinkedIn Clone{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mb-3">Notifications</h4>
        <ul class="list-group">
            <li class="list-group-item">New connection request from John Doe</li>
            <li class="list-group-item">Your post received 5 new likes</li>
            <li class="list-group-item">Reminder: Team meeting at 3 PM</li>
        </ul>
    </div>
{% endblock %}